<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andre.cchat">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".CChat_Offline"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".view.splashscreen.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.main.MainActivity" />

        <activity android:name=".view.startpage.StartPageActivity" />

        <activity
            android:name=".view.login.LoginActivity"
            android:parentActivityName=".view.startpage.StartPageActivity" />

        <activity
            android:name=".view.register.RegisterActivity"
            android:parentActivityName=".view.startpage.StartPageActivity" />

        <activity android:name=".view.setting.SettingsActivity" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".view.setting.StatusActivity"
            android:parentActivityName=".view.setting.SettingsActivity" />

        <activity
            android:name=".view.profile.ProfileActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.andre.cchat_TARGET_NOTIFICATION"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>

        <activity
            android:name=".view.allusers.AllUsersActivity"
            android:parentActivityName=".view.main.MainActivity" />

        <activity
            android:name=".view.chat.ChatActivity"
            android:exported="false"
            android:parentActivityName=".view.main.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.example.andre.cchat_TARGET_NOTIFICATION_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
